{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 10 versions", "ie 11"]
      }
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
