.home {
  padding: 0 1rem 1rem 1rem;
}

.home a {
  color: inherit;
}

.home h1 {
  /* color: #ffffff; */
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.75px;
  margin: 0 0 2rem 0;
  padding: 0;
  font-size: 2rem;
  display: inline-block;
}

.home h2 {
  border-top: #9fc5d4 solid 2px;
  line-height: 1;
  padding: 2rem 0 0 0;
  margin: 0 0 .5rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  display: block;
}

.home h2.subh1 {
  /* color: rgba(255, 255, 255, 0.9); */
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  border: 0;
  /* max-width: 90%; */
}

.home .row:first-of-type h2 {
  border-top-width: 0px;
}

.home h3 {
  font-weight: 400;
}

.home h4 {
  margin: 0 0 0.5rem;
  font-weight: 400;
}

.home ul {
  padding: 0 0 2rem 0;
  margin: 1rem 0 0 0;
}

.home li {
  margin: 0 0 4px 0;
  display: flex;
}

.home pre {
  background: #333;
  color: #f1f1f1;
  padding: 1rem;
}

.home input[type="text"] {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.home label span {
  margin: 0 0.5rem;
}

.home .subh1p strong {
  font-weight: normal;
}

.home .label {
  margin: 8px 0 0 0;
  color: #757575;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*

  Demo styles

*/

.home .demo-gif {
  width: 100%;
  max-width: 640px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/*

  Demo Grid

*/

.home .row {
  display: block;
}

.home .row--hero {
  display: block;
}

.home .row--hero > * {
  flex: 1;
  margin-bottom: 2rem;
}

.home .row:after {
  content: "";
  display: table;
  clear: both;
}

.home .col {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 0 1rem 1rem 0;
}

.home .--margin-bottom-1 {
  margin-bottom: 1rem;
}

.home .--margin-bottom-2 {
  margin-bottom: 2rem;
}

.home .--margin-bottom-3 {
  margin-bottom: 3rem;
}

.home .--margin-bottom-4 {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 900px) {
  .home .row--hero {
    display: flex;
  }
  .home .row--hero > * {
    flex: 1;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .root {
    padding: 0 1rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  .home .col {
    max-width: 100%;
    margin: 0;
  }
}

.logo-link {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.logo-link:hover {
  background: #fff;
}

.logo-link__logo {
    display: flex;
    width: 80px;
    padding: 1rem 0;
    border-right: 1px solid #ddd;
    justify-content: center;
    margin-right: 1rem;
}

.logo-link__logo svg {
  fill: #111111;
  fill-opacity: 0.8;
}