.ViewIframe {
    margin-bottom: 2rem;
    font-weight: 700;
    color: #3f51b5;
    text-align: right;
    display: block;
}

.ViewIframe a,
.ViewIframe span {
    padding: 0.5rem 0;
}

.ViewIframe a {
    text-decoration: none;
    border-bottom: 1px dotted #3f51b5;
}

.ViewIframe a:hover {
    color: #333;
    background: #fff;
}