*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #263238;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  margin: 0;
  padding: 0.5rem;
}

#root {
  padding: 1rem;
}

.icon {
  fill: currentColor;
}

button {
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 4px;
  background-color: #2196F3;
  font-size: 0.85rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.badge {
  background: #f1f1f1;
  padding: 0.25rem 1rem;
  margin: 2px 10px 2px 0;
  border-radius: 3px;
}

h1 {
  margin: 0 0 2rem 0;
  font-weight: 900;
}

h2 small {
  font-size: 14px;
}

h2.table-header {
  background: #f5f5f5;
  position: sticky;
  margin: 0 0 1rem 0;
  padding: 2rem 0 1rem;
  top: 0;
}

p {
  padding: 0;
  margin: 0 0 1rem 0;
}

small {
  display: block;
  font-weight: normal;
}

pre.code {
  background: #333;
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-weight: normal;
}

tr {
  padding: 0;
  margin: 0;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:nth-child(even) {
  background: #f7f7f7;
}

tr:first-of-type {
  position: sticky;
  top: 0;
}

td, th {
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  vertical-align: top;
  padding: 1rem!important;
  margin: 0;
  text-align: left;
}

td:last-of-type {
  border-right-width: 0;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  max-width: 640px;
  border-radius: 4px;
}

video {
  border: 1px solid #ccc;
}

form > * {
    margin: 1rem 1rem 0 1rem;
}
