a {
  color: inherit;
}

h1 {
  line-height: 1 !important;
  padding: 0 0 0 0 !important;
  margin: 2rem 0 !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  display: block !important;
}

h2 {
  border-top: #9fc5d4 solid 2px;
  line-height: 1;
  padding: 2rem 0 0 0;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  display: block;
}

h2.subh1 {
  font-weight: 400;
  margin: 0 0 2rem 0;
  padding: 0;
  line-height: 1.4;
  border: 0;
}

.row:first-of-type h2 {
  border-top-width: 0px;
}

h3 {
  font-weight: 400;
  margin: 0 0 1rem 0;
}

h4 {
  margin: 0 0 0.5rem;
  font-weight: 400;
}

ul {
  padding: 0 0 2rem 0;
  margin: 1rem 0 0 0;
}

li {
  margin: 0 0 4px 0;
  display: flex;
}

input[type='text'] {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

label span {
  margin: 0 0.5rem;
}

.subh1p strong {
  font-weight: normal;
}

.label {
  margin: 8px 0 0 0;
  color: #757575;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
  
    Demo styles
  
  */

.demo-gif {
  width: 100%;
  max-width: 640px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/*
  
    Demo Grid
  
  */

.row {
  display: block;
}

.row--hero {
  display: block;
  margin-bottom: 4rem;
}

.row--hero > * {
  flex: 1;
  margin-bottom: 2rem;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.col {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 0 1rem 1rem 0;
}

@media only screen and (min-width: 900px) {
  .row--hero {
    display: flex;
  }
  .row--hero > * {
    flex: 1;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.25rem;
  }
  .col {
    max-width: 100%;
    margin: 0;
  }
}

.features-list {
  font-size: 1.1rem;
  list-style: none;
  padding: 0;
  margin: 0 0 4rem 0;
}

.features-list__item {
  display: flex;
}

.features-list__item h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.features-list__checkIcon {
  width: 30px;
}

.features-list__checkIcon .checkbox-icon {
  fill: #9fc5d4;
  width: 16px;
  height: 16px;
  position: relative;
  stroke-width: 1px;
}

.features-list__checkIcon .checkbox {
  border-color: #9fc5d4;
  width: 25px;
  height: 25px;
  margin: 0 0.75rem 0 0;
}

.logo-links__link {
  display: flex;
  width: 70px;
  font-weight: bold;
}

pre.code {
  background: #333;
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-weight: normal;
}

tr {
  padding: 0;
  margin: 0;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:nth-child(even) {
  background: #f7f7f7;
}

tr:first-of-type {
  position: sticky;
  top: 0;
}

td,
th {
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  vertical-align: top;
  padding: 1rem !important;
  margin: 0;
  text-align: left;
}

td:last-of-type {
  border-right-width: 0;
}

.table-header {
  background: #fff;
  position: sticky;
  margin: 0 0 1rem 0;
  padding: 2rem 0 1rem;
  top: 0;
}

pre {
  background: #333;
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .no-scroll-y {
    overflow-y: hidden;
  }
}

.has-error {
  background: #ffebee;
  padding: 4px;
}

.has-error .rrs__label,
.has-error .rss__button:focus .rrs__label,
.has-error .rss__button:focus .rrs__label svg {
  border: 1px solid #f44336 !important;
  color: #f44336;
}

.has-error .rrs__label svg * {
  fill: #f44336;
}

.field-error-message {
  color: #f44336;
  font-size: 12px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 4px;
  background-color: #2196f3;
  font-size: 0.85rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form__item {
  flex: 0 1 49%;
}
