* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #15394b;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.75px;
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-size: 2.5rem;
  display: inline-block;
}

h2 {
  line-height: 1;
  padding-bottom: 0;
  margin: 0 0 0.75rem 0;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
}

h4 {
  margin: 0 0 0.5rem;
}

ul {
  padding: 0 0 2rem 1rem;
  margin: 0;
}

li {
  margin: 0 0 4px 0;
}

.subh1p {
  color: #47626f;
  margin: 0;
  font-size: 1.25rem;
  padding: 0 1.5rem;
}

.subh1p strong {
  font-weight: normal;
}

.heading-area {
  background: #e4e4e4;
  padding: 5rem 0;
  margin: 0 0 2rem;
}

.code-inline {
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  padding: 0px 4px;
}

.code-block {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  overflow: auto;
  margin: 0 0 4rem 0;
  color: #333;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {
  background: #f1f1f1;
}

.root {
  padding: 0 2rem;
}

.form {
  max-width: 940px;
  margin: 0 auto;
}

.inset {
  background: white;
  margin: 1rem 0 0 0;
  padding: 2rem 1.75rem;
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.logos {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background: #fff;
  color: #f2fbfe;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-decoration: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.github-link {
  margin-right: 1rem;
}

.github-link svg {
  fill: #999;
  fill-opacity: 0.8;
}

.npm-link {
  margin-right: 1rem;
}

.label {
  margin: 8px 0 0 0;
  color: #999;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-console-message{
  display: inline-block;
  padding: 12px 0;
  color: #999;
  font-style: italic;
}

/*

  Demo styles

*/

.badge {
  background: #f1f1f1;
  padding: 0.25rem 1rem;
  margin: 2px 10px 2px 0;
  border-radius: 3px;
}

.button {
  outline: 0;
  -moz-apperance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: #fff;
  background: #03A9F4;
  cursor: pointer;
  margin: 0 0 3rem 0;
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  background: #2196F3;
  transition: all 0.1s ease-in-out;
}

.caret-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  fill: #999;
}

.rrs__options-container--visible .caret-icon {
  transform: rotate(180deg);
}

.checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  margin: 2px 10px 2px 0;
  border-radius: 50%;
}

.rrs__option.rrs__option--selected .checkbox {
  border: 1px solid #03a9f4;
}

.checkbox-icon {
  fill: #fff;
  position: absolute;
  left: 5px;
  top: 5px;
}

.rrs__option.rrs__option--selected .checkbox-icon {
  fill: #03a9f4;
}

.centered {
  text-align: center;
}

/*

  Demo Grid

*/

.row {
  display: block;
}

.row--hero {
  display: block;
  margin: 0 0 5rem 0;
}

.row--hero > * {
  flex: 1;
  margin: 0 0 1rem 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 0 1rem 1rem 0;
}

@media only screen and (min-width: 900px) {
  .row--hero {
    display: flex;
  }

  .row--hero > * {
    flex: 1;
    margin: 0 0 2rem 0;
  }
}

@media only screen and (max-width: 730px) {
  h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  .subh1p {
    font-size: 1rem;
  }
  .heading-area {
    padding: 3rem 0;
    margin: 0 0 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .root {
    padding: 0 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .col {
    max-width: 100%;
    margin: 0;
  }
}
