* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fff;
  color: #333;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.75px;
  margin: 2rem 0 4rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
  display: inline-block;
}

.subh1 {
  font-style: italic;
  font-family: Georgia;
  color: #999;
}

h2 {
  line-height: 1;
  padding-bottom: 0;
  margin: 0 0 1rem 0;
  font-size: 1.5em;
  font-weight: 400;
  display: inline-block;
}

h3 {
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

h4 {
  margin: 0 0 0.5rem;
}

ul {
  padding: 0 0 2rem 1rem;
  margin: 0;
}

li {
  margin: 0 0 4px 0;
}

code {
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #F44336;
  padding: 0px 4px;
}

.wrapper {
  background: #f5f5f5;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.inset {
  background: white;
  margin: 2rem -24px 0 -24px;
  padding: 3rem 1.75rem;
  text-align: left;
}

.github-link {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #333;
  font-size: 0.75rem;
}

.github-link svg {
  fill: #BDBDBD;
}

.label {
  margin: 0 0 4px 4px;
  color: #999;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-console-message{
  font-size: 1rem;
  text-align: center;
  margin: 5rem 0 0 0;
}

/*

  Demo styles

*/

.rrs__multiselect__label {
  display: inline-flex;
  max-width: 100%;
  line-height: 1;
}

.rrs__multiselect__label-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rrs__multiselect__label-badge{
  border: 1px solid #ccc;
  padding: 1px 6px;
  margin: 0 0 0 4px;
  border-radius: 8px;
  color: #666;
  font-size: 11px;
  vertical-align: middle;
  display: inline-block;
}

.badge {
  background: #f1f1f1;
  padding: 0.25rem 1rem;
  margin: 2px 10px 2px 0;
  border-radius: 3px;
}

.button {
  outline: 0;
  -moz-apperance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-size: inherit;
  color: #fff;
  background: #BDBDBD;
  cursor: pointer;
  margin: 3rem 0 0rem 0;
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  background: #42a5f5;
  transition: all 0.1s ease-in-out;
}

.dropdown-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  fill: #999;
}

.check-icon {
  fill: #fff;
  position: absolute;
  left: 5px;
  top: 5px;
}

.checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  margin: 2px 10px 2px 0;
  border-radius: 50%;
}

.rrs__option.rrs__option--selected .checkbox {
  border: 1px solid #03a9f4;
}

.rrs__option.rrs__option--selected .check-icon {
  fill: #03a9f4;
}

.rrs__options-container--visible .dropdown-icon {
  transform: rotate(180deg);
}

.centered {
  text-align: center;
}


/*

  Demo Grid

*/

.row {
  display: block;
  margin-right: -8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-4,
.col-2-4,
.col-3-4 {
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem 0;
  float: left;
  padding-right: 8px;
}

@media (min-width: 600px) {
  .col-1-4 {
    width: 25%;
    margin: 0;
  }
  .col-2-4 {
    width: 50%;
    margin: 0;
  }
  .col-3-4 {
    width: 75%;
    margin: 0;
  }
}
